/* stylesheet file*/
/* left margin */
* {
  box-sizing: border-box; }

html {
  margin: 0% 0% 0% 0%; }
  html body {
    /* Background source: https://www.toptal.com/designers/subtlepatterns/?s=wood */
    background-image: url("../images/wood_pattern.png");
    margin: 0;
    padding: 0;
    height: 100vh;
    /* navigation bar */
    /*   ul {
      list-style-type: none;
      padding-left: 1%;
    } */
    /* outline when hovering over an image that is intended to be a link */
    /*   .content {
      padding: 0;
    } */
    /* "clearfix" hack to neatly align block elements */
    /* styles 960 main content box */
    /* styles left content box */
    /* Connect with me section */
    /* attributes for portfolio project content box */
    /* caption_text styles the "text over image" caption on top of each portfolio image */ }
    html body h1 {
      font-family: "Arvo", sans-serif;
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      color: #111826;
      margin: 0;
      padding: 0; }
    html body h2 {
      font-family: "Arvo", sans-serif;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      color: #111826;
      margin: 0;
      padding: 0; }
    html body h3 {
      font-family: "Oswald", serif;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      margin: 5px 0;
      padding: 0;
      z-index: 1;
      position: relative; }
    html body .center {
      margin: 0 auto; }
    html body .content {
      margin: 0 auto; }
    html body .clear {
      clear: both; }
    html body .intro-text {
      position: absolute;
      top: 35%;
      left: 45%;
      opacity: 0.9; }
    html body #particles-js {
      height: 90%;
      background: black;
      z-index: 10; }
    html body #header {
      width: 100%;
      background: linear-gradient(to bottom right, #111826, #31456b);
      height: 60px;
      position: fixed;
      margin-top: 0px;
      z-index: 5; }
    html body #nav {
      float: left;
      margin: 1% 0% 5% 0%; }
      html body #nav ul {
        list-style: none;
        display: block;
        margin: 0 auto; }
      html body #nav li {
        margin-top: 9px;
        float: left;
        padding-left: 20px; }
        html body #nav li a {
          color: #111826;
          text-shadow: 1px 1px #C5D9C7;
          text-decoration: none;
          opacity: 0.6;
          font-size: 16px;
          font-family: "Wellfleet", sans-serif; }
        html body #nav li a.active {
          color: #111826;
          text-shadow: 1px 1px white;
          opacity: 1;
          border-bottom: 2px solid #111826; }
        html body #nav li a:hover {
          color: #C5D9C7;
          text-shadow: 1px 1px #111826;
          opacity: 1; }
    html body #logo a {
      text-decoration: none;
      float: left;
      margin: 20px 0 0 20px;
      font-size: 20px;
      color: white;
      font-family: "Wellfleet", sans-serif;
      font-weight: bold; }
    html body #Intro, html body #About, html body #Portfolio {
      width: 100%; }
    html body #Intro {
      color: black;
      margin: 0;
      height: 900px;
      padding: 0 0 0 0;
      background-size: cover; }
    html body #About {
      color: #111826;
      margin: 0;
      padding: 200px 0 130px 0;
      background-size: cover; }
    html body #Portfolio {
      background-color: lightblue;
      color: #333333;
      height: 6600px;
      margin: 0 auto;
      overflow: hidden;
      padding: 200px 0;
      /*       .portfolio-container {
        // position: absolute;
        // top: 35%;
        // left: 45%;
        // opacity: 0.9;
      } */ }
    html body #Skills {
      background-color: lightgoldenrodyellow;
      color: black;
      height: 800px;
      padding: 170px 0 0 0;
      background-size: cover; }
    html body #Contact {
      background-color: lightpink;
      color: #333333;
      height: 800px;
      padding: 220px 0; }
    html body figure > a > img {
      width: 60%;
      height: 80%; }
    html body p {
      text-align: justify;
      font-weight: bold;
      font-size: 95%; }
    html body a > img:hover {
      outline: 2px solid #4aaaa5; }
    html body .row::after {
      content: "";
      clear: both;
      display: table-footer-group; }
    html body .clearfix::after {
      content: "";
      display: block;
      clear: both; }
    html body .main-content {
      box-sizing: border-box;
      padding: 20px 0px 10px 10px;
      margin-left: 10px; }
      html body .main-content p {
        text-align: justify;
        margin: 0px 15px;
        line-height: 2.0; }
    html body .custom-bg {
      background-color: transparent; }
    html body .main-box {
      /*     box-sizing: border-box;
    background-color: $brand-bg-color;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: $brand-border-color;
    padding: 5px 20px; */
      margin-left: 2%; }
      html body .main-box img {
        float: left;
        width: 30%;
        height: 30%;
        margin: 0% 4% 0% 2%; }
    html body .media-links img {
      float: left;
      width: 20%;
      height: 20%;
      margin: 0% 0% 0% 6%; }
    html body .image-container {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 200;
      height: 290; }
    html body .image-container .caption-text {
      position: absolute;
      z-index: 2;
      margin-left: 21%;
      text-align: center;
      background-color: #4aaaa5;
      width: 50%;
      height: 20%;
      /* !important; */
      top: 55%;
      /* !important; */
      padding: 10px;
      font-size: 110%;
      /* font-size: 1.2em; */
      color: white;
      font-weight: normal; }
    html body .wrapper {
      padding: 0; }
    html body .custom-footer {
      background-color: #666666;
      border-color: #4aaaa5;
      border-style: solid;
      color: white;
      border-width: 10px 0px 0px 0px; }
      html body .custom-footer p {
        text-align: center;
        font-size: 80%;
        line-height: 1;
        padding: 25px;
        margin: 0; }
    html body .contact-form ul {
      margin-bottom: 20px; }
    html body .contact-form li {
      margin-bottom: 10px; }
    html body label,
    html body input[type=text],
    html body input[type=email],
    html body textarea {
      display: block;
      width: 50%; }
    html body input[type=text],
    html body input[type=email],
    html body textarea {
      height: 35px;
      padding: 0 10px;
      font-size: 14px;
      border: 1px solid #ddd; }
    html body textarea {
      height: 200px; }
    html body input[type=submit] {
      padding: 10px 30px;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      background: #4aaaa5;
      border: 0 none; }
    html body input[type=submit]:hover {
      background-color: #1D5959;
      text-shadow: 1px 1px #1AD7E5; }

/* small portrait size */
@media only screen and (min-width: 327px) {
  body {
    /*     #Portfolio {
      padding: 135px 0 130px 0 !important;
      height: 4600px !important;
    } */ }
    body h1 {
      font-size: 55px; }
    body h2 {
      font-size: 40px; }
    body h3 {
      font-size: 25px;
      text-align: center !important; }
    body #header {
      height: 80px !important;
      margin-top: 20px !important; }
    body #logo a {
      font-size: 30px !important; } }

/* 'sm' media query */
@media only screen and (min-width: 576px) {
  body .aside-lm {
    margin-left: 10%; }
  body #nav {
    float: left;
    margin: 1% 0 5% 0%; }
    body #nav li {
      padding-left: 30px; }
      body #nav li a {
        color: white !important;
        text-shadow: none !important; }
      body #nav li a.active {
        color: white !important;
        text-shadow: 1px 1px #111826 !important; }
      body #nav li a:hover {
        color: white !important;
        text-shadow: 1px 1px #111826 !important; }
  body #About {
    padding: 135px 0 130px 0 !important; } }

/* 'md' media query */
@media only screen and (min-width: 768px) {
  body #nav {
    float: left;
    margin: 2% 0 0 20%; }
    body #nav li {
      padding-left: 40px; }
  body #Portfolio {
    padding: 135px 0 130px 0 !important;
    height: 1300px !important; }
  body .image-container .caption-text {
    font-size: 75% !important; } }

/* 'lg' media query */
@media only screen and (min-width: 992px) {
  body #nav {
    float: left;
    margin: 2% 0 0 35%; }
    body #nav li {
      padding-left: 60px; } }

/* 'xl' media query */
@media only screen and (min-width: 1200px) {
  body #nav {
    float: left;
    margin: 2% 0 0 35%; }
    body #nav li {
      padding-left: 60px; }
  body #Portfolio {
    padding: 135px 0 130px 0 !important;
    height: 1700px !important; } }

/* @media only screen and (min-width: $px-tblt-low) and (max-width: 350px) {
  .image-container .caption-text {
    font-size: 80% !important;
  }
} */
/* For cellphone screen portrait: */
@media only screen and (max-width: 327px) {
  body {
    margin-top: 0px;
    /*     margin-top: 0px;
    header {
      h1 {
        // margin-left: 5%;
         margin-left: 5%;
         padding: 8% 1% 3% 1% !important;
       }
      nav a {
        display: block;
        // padding: 5px 10px;
        color: gray;
        text-decoration: underline;
        // background-color: white;
        text-shadow: none;
        margin: 0px 10px 20px 15px;
        box-shadow: none;
        border-left: none;
      }
    }
    // attributes for portfolio project content box
    .image-container {
      position: relative;
      display: inline-block;
      margin-left: 2px;
      text-align: center;
      // color: black;
    }
    // caption_text styles the "text over image" caption on top of each portfolio image
    .image-container .caption-text {
      position: absolute;
      z-index: 2;
      // left: 1%; 
      margin: 0 1 auto;
      margin-left: 2%;
      text-align: center;
      text-shadow: 1px 1px white;
      background-color: transparent;
      width: 86.8%;
      height: 15%;
      font-size: 70% !important;
      color: black;
      font-weight: 200;
      width: 86.5% !important;
      height: 20% !important;
      top: 5% !important;
      line-height: 1 !important;
    }
  }
 */ } }

@media only screen and (max-width: 640px) {
  /* column spacer for navigation bar */
  /*     .c-my-sm-2 {
      //  margin-right: 8%;
        width: 25%;
      }
 */ }

/* For tablet: */
@media only screen and (min-width: 641px) and (max-width: 979px) {
  body {
    margin-top: 0px;
    /*     header {
      margin-bottom: 20px;
      h1 {
       // margin-left: 5%;
        margin-left: 5%;
        padding: 3.25% 1% !important;
      }
    }
     // styles left content box 
    .main-box > img {
      float: left;
      width: 55%;
      height: 55%; 
      margin: 0% 5% 1% 5%; 
    }
    .media-links {
      background-color: $brand-bg-color;
      img {
        float: left;
        width: 15%;
        height: 15%;
        margin: 0% 2% 0% 0%;
      }
    }
    .image-container {
      padding: 0;
      margin: 1% 1% 1% 1%;
    }
    .row-portfl-lm {
      margin-left: 5%;
    }
    figure {
      font-size: 85%;
    }
    figure > a > img { 
      width: 100%;
      height: 100%;
    }
    // caption_text styles the "text over image" caption on top of each portfolio image
    .image-container .caption-text {
      width: 90% !important;
      height: 20% !important;
      top: 75% !important;
    }
    
    //
 */ } }

@media only screen and (min-width: 980px) {
  body {
    margin-top: 0;
    /*     header {
      margin-bottom: 20px;
      h1 {
        margin-left: 10%;
        padding: 6% 1% 3% 1% !important;
      }
      nav a {
        display: inline-block;
        padding: 3% 5%;
        margin: 4% 3%;
      }
    }
    .main-box > img {
      float: left;
      width: 55%;
      height: 55%; 
      margin: 0% 5% 1% 5%; 
    }
    .nav-dsk-lm {
      margin-left: 30%;
    }
    .hdr-dsk-lm {
      margin-left: 5%;
    }
    .main-dsk-lm {
      margin-left: 10%;
    }
    .aside-lm {
      margin-left: 10%;
    }
    .media-links {
      background-color: $brand-bg-color;
      img {
        float: left;
        width: 30%;
        height: 30%;
        margin: 0% 2% 0% 0%;
      }
    }
    figure > a > img { 
      width: 100%;
      height: 100%;
    }
    // caption_text styles the "text over image" caption on top of each portfolio image
    .image-container .caption-text {
      width: 84.8% !important;
      height: 20% !important;
      top: 73% !important;
    }
 */ } }

/*     border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: $brand-border-color;
    padding: 0px;
    margin-top: -21px;
    margin-bottom: 0px!important;
    height: $brand-header-height;
    h1 {
      width: 100%;
      font-family: $brand-font-header;
      font-size: 2em;
      font-weight: bold;
      float: left;
      text-align: center;
      color: white;
      background-color: $brand-color;
// margin: 0px $px-dsk-h1-rm 0px 90px;
// margin-left: 5%;
      margin-left: 0%;
      padding: 8% 1% 3% 1% !important;
 //     padding: 31px 18px 31px 30px !important; 
      margin-bottom: 0px;
    } */
/*     nav a {
      display: inline-block;
      padding: 2% 5%;
      background-color: $brand-color;
      margin: 5% 3%;
      color: white;
      text-align: center;
      text-decoration: none;
      border-left: 1px solid $brand-border-color;
      box-shadow: 0 1px 3px rgba(0,0,0,0.20), 0 1px 2px rgba(0,0,0,0.30); 
    }
    nav a:first-child {
      border-left: 0 none;
    }
    nav a:hover {
        color: blanchedalmond;
        background-color: $brand-nav-color;
        text-shadow: 1px 1px white;
    } 
  }
*/
