/* stylesheet file*/

// brand values
$brand-font-color:#777777;
$brand-bg-color:#ffffff;
$brand-footer-bg-color: #666666;
$brand-border-color: #cccccc;
$brand-color: #4aaaa5;
$brand-nav-color: #1D5959;
$brand-font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;
$brand-font-header: Georgia, Times, "Times New Roman", serif;
$brand-header-height: 15%;

//------------------------------------------------------------------
// DIMENSIONS DEPENDING ON MEDIA
// size values depending on media
// desktop (dsk) sizes
$dsk-size: 980;
$dsk-content-size: 960;
$dsk-mainbox-size: 650;
$dsk-h1-rm: 400; /* left margin */
$px-dsk-size: $dsk-size * 1px;
$px-dsk-h1-rm: $dsk-h1-rm * 1px;
$px-dsk-content: $dsk-content-size * 1px;
$px-dsk-mainbox: $dsk-mainbox-size * 1px;

// smartphone (smph) portrait (approximate)
$smph-portrait-size: 307;
$px-smph-portrait-size: $smph-portrait-size * 1px;

// smartphone (smph) landscape dimensions
$smph-size: 640;
$px-smph-size: $smph-size * 1px;

// tablet (tblt) dimensions range
$px-tblt-low: $px-smph-portrait-size + 1px;
$px-tblt-min: $px-smph-size + 1px;
$px-tblt-max: $px-dsk-size - 1px;

* {
  box-sizing: border-box;
}


//---------------------------------------------------------------------
// SMARTPHONE LANDSCAPE
//
// The default configuration will be for mobile. 
// In this case 680px or less
// see https://www.w3schools.com/css/css_rwd_mediaqueries.asp
body 
{
  background-image: url("../images/circles-light.png");
  font-family: $brand-font-stack;
  margin: 0px 10px 0px 10px;
  padding-top: 0px;

  /* default padding for columns */
  [class*="col-"] {
    float: left;
    padding: 10px;
  } 


  header {
    background-color: $brand-bg-color;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: $brand-border-color;
    padding: 0px;
    margin-top: -21px;
    margin-bottom: 0px!important;
    height: $brand-header-height;
    h1 {
      width: 100%;
      font-family: $brand-font-header;
      font-size: 2em;
      font-weight: bold;
      float: left;
      text-align: center;
      color: white;
      background-color: $brand-color;
 /*     margin: 0px $px-dsk-h1-rm 0px 90px; */
// margin-left: 5%;
      margin-left: 0%;
      padding: 8% 1% 3% 1% !important;
 //     padding: 31px 18px 31px 30px !important; 
      margin-bottom: 0px;
    }
    nav a {
      display: inline-block;
      padding: 2% 5%;
      background-color: $brand-color;
      margin: 5% 3%;
      color: white;
      text-align: center;
      text-decoration: none;
      border-left: 1px solid $brand-border-color;
      box-shadow: 0 1px 3px rgba(0,0,0,0.20), 0 1px 2px rgba(0,0,0,0.30); 
    }
    nav a:first-child {
      border-left: 0 none;
    }
    nav a:hover {
        color: blanchedalmond;
        background-color: $brand-nav-color;
        text-shadow: 1px 1px white;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    color: $brand-color;
    font-family: $brand-font-header;
    font-weight: bolder;
  }
  h2, h3 {
    box-sizing: border-box;
    width: 100%;
    height: 7%;
    padding: 0.5%; 
    border-style: solid;
    border-color: $brand-border-color;   
    border-width: 0 0 2px 0;
    margin-bottom: 10px;
  }  
  h2 {
    font-size: 180%;
  }
  h3 {
    font-size: 140%;
  }
  p {
    text-align: justify;
  }
  ul {
    list-style-type: none;
    padding-left: 1%;
  }
  /* outline when hovering over an image that is intended to be a link */
  a > img:hover {
    outline: 2px solid #4aaaa5;
  }


//----------------------------------------------------------------------------
// css class definitions
//
  .row::after {
    content: "";
    clear: both;
    display: table-footer-group;
  }

  .content {
    padding: 0;
  }

  /* "clearfix" hack to neatly align block elements */
 .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

    /* styles 960 main content box */
 .main-content {
  box-sizing: border-box;
/*  margin-left: 100px;
  width: $px-dsk-content; */
  padding: 20px 0px 10px 10px;
  margin-left: 10px;
 // line-height: 2.0; 
  p {
    text-align: justify;
    margin: 0px 15px 10px 15px;
    line-height: 2.0;
  }
}

 /* styles left content box */
 .main-box {
  box-sizing: border-box;
  background-color: $brand-bg-color;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: $brand-border-color;
  margin-bottom: 20px;
  padding: 20px;
  img {
    float: left;
    width: 90%;
    height: 90%; 
    margin: 0% 5% 0% 2%; 
  }
 }
/* Connect with me section */
 .media-links {
   background-color: $brand-bg-color;
   img {
     float: left;
     width: 25%;
     height: 25%;
     margin: 0% 2% 0% 0%;
   }
 }
 /* attributes for portfolio project content box */
 .image-container { 
    position: relative; 
    display: inline-block;
    margin-left: 2px;
    text-align: center;
    width: 200;
    height: 290;
 }
  /* caption_text styles the "text over image" caption on top of each portfolio image */
  .image-container .caption-text {
    position: absolute;
    z-index: 2;
    margin-left: 2%;
    text-align: center;
    background-color: $brand-color;
    width: 90%;
    height: 20%; /* !important; */
    top: 75%; /* !important; */
    padding: 10px;
    font-size: 120%;
   /* font-size: 1.2em; */
    color: white;
    font-weight: 200;
  }
  .wrapper {
    padding: 0;
  }
  .custom-footer {
    background-color: $brand-footer-bg-color;
    border-color: $brand-color;
    border-style: solid;
    color: white;
    border-width: 10px 0px 0px 0px;
    p {
      text-align: center;
      font-size: 80%;
      line-height: 1;
      padding: 25px;
      margin: 0;
    }
  }

  .contact-form ul {
    margin-bottom: 20px;
  }
  
  .contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  input[type=submit]:hover {
    background-color: $brand-nav-color;
    text-shadow: 1px 1px #1AD7E5;
  }
}


/* For mobile phones portrait: */
[class*="col-"] {
  width: 100%;
}


//---------------------------------------------------------------------
// FONT SIZE for caption text
@media only screen and (min-width: $px-tblt-low) and (max-width: 350px) {
  .image-container .caption-text {
    font-size: 80% !important;
  }
}


//---------------------------------------------------------------------
// SMARTPHONE PORTRAIT (approximate dimensions)
//
/* For cellphone screen portrait: */
@media only screen and (max-width: $px-smph-portrait-size) {
  body {
    margin-top: 0px;
    header {
      h1 {
        // margin-left: 5%;
         margin-left: 5%;
         padding: 8% 1% 3% 1% !important;
       }
      nav a {
        display: block;
        /* padding: 5px 10px; */
        color: gray;
        text-decoration: underline;
        background-color: white;
        text-shadow: none;
        margin: 0px 10px 20px 15px;
        box-shadow: none;
        border-left: none;
      }
    }
    /* attributes for portfolio project content box */
    .image-container {
      position: relative;
      display: inline-block;
      margin-left: 2px;
      text-align: center;
      // color: black;
    }
    /* caption_text styles the "text over image" caption on top of each portfolio image */
    .image-container .caption-text {
      position: absolute;
      z-index: 2;
      /* left: 1%; */
      margin: 0 1 auto;
      margin-left: 2%;
      text-align: center;
      text-shadow: 1px 1px white;
      background-color: transparent;
      width: 86.8%;
      height: 15%;
      font-size: 70% !important;
      color: black;
      font-weight: 200;
      width: 86.5% !important;
      height: 20% !important;
      top: 5% !important;
      line-height: 1 !important;
    }
  }
}

@media only screen and (max-width: $px-smph-size) {
    /* column spacer for navigation bar */
    .c-my-sm-2 {
      //  margin-right: 8%;
        width: 25%;
      }
}



//---------------------------------------------------------------------
// TABLET LANDSCAPE
//
  /* For tablet: */
@media only screen and (min-width: $px-tblt-min) and (max-width: $px-tblt-max)  {
  .c-my-tblt-1 {width: 8.33%;}
  .c-my-tblt-2 {width: 16.66%;}
  .c-my-tblt-3 {width: 25%;}
  .c-my-tblt-4 {width: 33.33%;}
  .c-my-tblt-5 {width: 41.66%;}
  .c-my-tblt-6 {width: 50%;}
  .c-my-tblt-7 {width: 58.33%;}
  .c-my-tblt-8 {width: 66.66%;}
  .c-my-tblt-9 {width: 75%;}
  .c-my-tblt-10 {width: 83.33%;}
  .c-my-tblt-11 {width: 91.66%;}
  .c-my-tblt-12 {width: 100%;}
  [class*="c-my-tblt-"] {
    float: left;
    padding: 10px;
  } 
  body {
    margin-top: 0px;
    header {
      margin-bottom: 20px;
      h1 {
       // margin-left: 5%;
        margin-left: 5%;
        padding: 3.25% 1% !important;
      }
    }
     /* styles left content box */
    .main-box > img {
      float: left;
      width: 55%;
      height: 55%; 
      margin: 0% 5% 1% 5%; 
    }
    .media-links {
      background-color: $brand-bg-color;
      img {
        float: left;
        width: 15%;
        height: 15%;
        margin: 0% 2% 0% 0%;
      }
    }
    .image-container {
      padding: 0;
      margin: 1% 1% 1% 1%;
    }
    .row-portfl-lm {
      margin-left: 5%;
    }
    figure {
      font-size: 85%;
    }
    figure > a > img { 
      width: 100%;
      height: 100%;
    }
    /* caption_text styles the "text over image" caption on top of each portfolio image */
    .image-container .caption-text {
      width: 90% !important;
      height: 20% !important;
      top: 75% !important;
    }
    
    //
  }
}


//---------------------------------------------------------------------
// DESKTOP LANDSCAPE
//
@media only screen and (min-width: $px-dsk-size) {
  /* For desktop: */
  .c-my-dsk-1 {width: 8.33%;}
  .c-my-dsk-2 {width: 16.66%;}
  .c-my-dsk-3 {width: 25%;}
  .c-my-dsk-4 {width: 33.33%;}
  .c-my-dsk-5 {width: 41.66%;}
  .c-my-dsk-6 {width: 50%;}
  .c-my-dsk-7 {width: 58.33%;}
  .c-my-dsk-8 {width: 66.66%;}
  .c-my-dsk-9 {width: 75%;}
  .c-my-dsk-10 {width: 83.33%;}
  .c-my-dsk-11 {width: 91.66%;}
  .c-my-dsk-12 {width: 100%;}
  [class*="c-my-dsk-"] {
    float: left;
    padding: 10px;
  } 
  body {
    margin-top: 0;
    header {
      margin-bottom: 20px;
      h1 {
        margin-left: 10%;
        padding: 6% 1% 3% 1% !important;
      }
      nav a {
        display: inline-block;
        padding: 3% 5%;
        //background-color: $brand-color;
        margin: 4% 3%;
      }
    }
    .main-box > img {
      float: left;
      width: 55%;
      height: 55%; 
      margin: 0% 5% 1% 5%; 
    }
    .nav-dsk-lm {
      margin-left: 30%;
    }
    .hdr-dsk-lm {
      margin-left: 5%;
    }
    .main-dsk-lm {
      margin-left: 10%;
    }
    .aside-lm {
      margin-left: 10%;
    }
    .media-links {
      background-color: $brand-bg-color;
      img {
        float: left;
        width: 30%;
        height: 30%;
        margin: 0% 2% 0% 0%;
      }
    }
    figure > a > img { 
      width: 100%;
      height: 100%;
    }
    /* caption_text styles the "text over image" caption on top of each portfolio image */
    .image-container .caption-text {
      width: 84.8% !important;
      height: 20% !important;
      top: 73% !important;
    }

  }
}

